html,
body {
  background: #0b0b0b;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header{
  order: 1;
}

.main {
  order: 2;
  min-height: 100vh;
  padding: 4rem 0;
}

.footer {
  order: 3;
}

/* ---------- Header ---------- */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  border-bottom: 1px solid #393939;
  min-height: 55px;
  .header-home{
    order: 1;
    padding: 10px 0px 10px 25px;
  }
  .header-navbar{
    order: 2;
    padding: 10px 25px 10px;
    .header-navbar-account-image{
      img{border-radius: 100px;}
    }
  }
}

/* ---------- Footer ---------- */
.footer {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  min-height: 50px;
  border-top: 1px solid #393939;
  text-align: center;
}