/*
[z-index]
0: body
  1: #sidemenu
    2:.modal-overlay
      3: .modal-window
        4: .loading-overlay
          5: .header
*/
$base-color1: #1e2022;
$base-color2: lighten($base-color1, 3%);
$base-color3: lighten($base-color1, 6%);

$accent-color1: #42c897;
$accent-color2: #cf8e1d;

$font-color1: #dfe3e5;
$font-color2: darken($font-color1, 30%);
$font-color3: darken($font-color1, 35%);

$default-color: #fafafa;
$secondary-color: #565761;
$danger-color: #d93333;
$info-color: #5d9ff3;

$correct-color: #307fe5;
$present-color: #cf9e2a;
$absent-color: lighten($base-color1, 12%);

$sp-break-point: 599px;
$tablet-break-point: 1024px;

html,
body {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Helvetica,Roboto,Meiryo,sans-serif;
  word-break: break-word;
  background: $base-color1;
  color: $font-color1;
  font-size: 15px;
  padding: 0;
  margin: 0;
  z-index: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar{
  background: $base-color2;
  border-left: 1px solid lighten($base-color3, 5%);
}
::-webkit-scrollbar-thumb{
  background: lighten($base-color2, 5%);
  border-left: 1px solid lighten($base-color3, 5%);
}

* {
  box-sizing: border-box;
}

section{
  margin: 5rem 0;
}

h1,h2,h3{
  svg,i{
    margin-right: 1rem;
  }
}
h1{
  font-size: 2rem;
  margin: 2rem 0;
}
h2{
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
h3{
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

a {
  color: $info-color;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}

input[type="text"],
textarea,
select,
.chip-textarea{
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  color: $font-color1;
  background: $base-color3;
  border: 1px solid $base-color3;
  border-radius: 3px;
}
input[type="text"].input-invalid,
textarea.input-invalid,
select.input-invalid{
  border: 1px solid #ff6600;
  border-bottom: none;
}
input[type="text"]:focus,
textarea:focus,
select:focus{
  outline: none;
  border: 1px solid #0099ff;
}
input[type="text"]:disabled{
  background: lighten($base-color1, 20%);
  color: darken($font-color1, 30%);
  &:hover{
    cursor: not-allowed;
  }
}
input[type="checkbox"]{
  transform: scale(1.4);
  margin-right: 0.75rem;
}
textarea{
  resize: none;
}
textarea::-webkit-scrollbar{
  background: lighten($base-color2, 5%);
  cursor: default;
}
textarea::-webkit-scrollbar-thumb{
  background: $base-color2;
  cursor: default;
}

label{
  font-weight: bold;
  color: $font-color2;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  position: relative;
  label{
    order: 1;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  input,textarea,select{
    order: 2;
    display: block;
  }
  .chip-textarea{
    order: 2;
  }
  .form-countable-input-group{
    order: 2;
    display: flex;
    flex-direction: column;
    input[type="text"], textarea, .chip-textarea{
      order: 1;
      width: 100%;
      padding-bottom: 0;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .form-countable-input-counter{
      order: 2;
    }
    .form-countable-input-counter.form-countable-input-counter-focus{
      border: 1px solid #0099ff;
      border-top: none;
    }
    .form-countable-input-counter.form-countable-input-counter-invalid{
      border: 1px solid #ff6600;
      border-top: none;
    }
    // When focus
    input[type="text"]:focus, textarea:focus{
      border: 1px solid #0099ff;
      border-bottom: none;
    }
    input[type="text"]:focus + .form-countable-input-counter,
    textarea:focus + .form-countable-input-counter{
      border: 1px solid #0099ff;
      border-top: none;
    }
    // When invalid
    input[type="text"].input-invalid + .form-countable-input-counter,
    textarea.input-invalid + .form-countable-input-counter,
    select.input-invalid + .form-countable-input-counter{
      border: 1px solid #ff6600;
      border-top: none;
    }
    // When invalid + focus
    input[type="text"].input-invalid:focus,
    textarea.input-invalid:focus,
    select.input-invalid:focus{
      border: 1px solid #ff6600;
      border-bottom: none;
    }
  }
  .form-group-desc{
    order: 3;
    color: $font-color2;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0.3rem;
  }
  .form-group-invalid-feedback{
    order: 4;
    color: #ff6600;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    position: absolute;
    bottom: -1rem;
    left: 0;
  }
}

.form-countable-input-counter{
  text-align: right;
  font-size: 0.8rem;
  color: $font-color2;
  line-height: 1rem;
  background: $base-color3;
  padding: 0 0.5rem 0.25rem 0.5rem;
  border: 1px solid $base-color3;
  border-top: none;
  border-radius: 0 0 3px 3px;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.header{
  order: 1;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0;
  background: $base-color1;
}

#main {
  order: 2;
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  order: 3;
}

table{
  width: 100%;
  border-collapse: collapse;
  thead{
    tr{
      background: $base-color1;
      color: $font-color2;
      th{
        text-align: left;
        white-space: nowrap;
        border: 3px solid $base-color1;
        padding: 0.5rem 1rem;
      }
      th.table-th-word{
        width: 100%;
      }
      th.table-th-date-created{
      }
      th.table-th-btns{
      }
    }
  }
  tbody{
    tr{
      background: $base-color3;
      td{
        white-space: nowrap;
        border: 5px solid $base-color1;
        padding: 0.5rem 1rem;
        .btn.btn-mini{
          width: 4rem;
          margin: 0;
        }
      }
      td.table-td-edit,
      td.table-td-delete{
        text-align: center;
      }
    }
    tr:nth-child(even){
      background-color: $base-color2;
    }
  }
  tfoot{
    background: $base-color3;

  }
}

.btn{
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 0 1rem;
  margin: 0.25rem;
  border: $base-color3;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.btn.btn-mini{
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  margin: 0.1rem;
}
.btn.btn-square{
  border-radius: 0px;
}
.btn.btn-default{
  color: #111111;
  background-color: $default-color;
  &:hover{
    background: darken($default-color, 8%);
  }
  &:disabled{
    color: #656565;
    background-color: #c4c4c4;
    cursor: not-allowed;
  }
}
.btn.btn-primary{
  color: #111111;
  background-color: $accent-color1;
  &:hover{
    background: darken($accent-color1, 8%);
  }
  &:disabled{
    color: #656565;
    background-color: #c4c4c4;
    cursor: not-allowed;
  }
}
.btn.btn-secondary{
  color: #fff;
  background: $secondary-color;
  &:hover{
    background: darken($secondary-color, 8%);
  }
  &:disabled{
    background: lighten($secondary-color, 15%);
    color: #c4c4c4;
    cursor: not-allowed;
  }
}
.btn.btn-info{
  color: #fff;
  background: $info-color;
  &:hover{
    background: darken($info-color, 8%);
  }
  &:disabled{
    background: lighten($info-color, 15%);
    color: #c4c4c4;
    cursor: not-allowed;
  }
}
.btn.btn-danger{
  color: #fff;
  background-color: $danger-color;
  &:hover{
    background: darken($danger-color, 8%);
  }
  &:disabled{
    color: #838383;
    background-color: #fa9393;
    cursor: not-allowed;
  }
}

.tabs-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid lighten($base-color1, 5%);
  margin-bottom: 2rem;
  .tab{
    font-size: 1rem;
    padding: 1rem;
    color: $font-color2;
    font-weight: 500;
    cursor: pointer;
  }
  .tab:hover{
    color: $accent-color1;
    border-bottom: 2px solid $accent-color1;
    margin-bottom: -2px;
  }
  .tab-active{
    color: $accent-color2;
    border-bottom: 2px solid $accent-color2;
    margin-bottom: -2px;
  }
}

.pagination{
  width: 100%;
  margin: 1rem;
  text-align: center;
  button.pagination-page{
    background: $secondary-color;
    color: $font-color1;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    width: 2rem;
    white-space: nowrap;
    cursor: pointer;
    &:hover{
      background: darken($secondary-color, 10%);
    }
  }
  button.pagination-page.pagination-page-current{
    background-color: $font-color1;
    color: $secondary-color;
    border: none;
    cursor: default;
    &:hover{
      background-color: $font-color1;
      color: $secondary-color;
    }
  }
}

/* ---------- Header ---------- */
.header,
.header>.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background: $base-color2;
  // border-bottom: 1px solid $base-color3;
  .header-menu{
    order: 1;
    flex-basis: 33%;
    padding: 10px 10px 10px 25px;
    text-align: left;
    visibility: hidden;
  }
  .header-home{
    order: 2;
    flex-basis: 34%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    a{ color: $font-color1; }
    a:hover{  text-decoration: none; }
  }
  .header-account{
    order: 3;
    flex-basis: 33%;
    padding: 10px 25px 10px 10px;
    text-align: right;
    position: relative;
    a:hover{ text-decoration: none; }
    .header-account-image{
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      span,img{
        order: 1;
        border-radius: 100px;
      }
      svg,i{
        order: 2;
        padding: 0 0.75rem;
        font-size: 0.8rem;
        color: darken($font-color1, 20%);
      }
    }
    .header-account-image:hover{
      cursor: pointer;
    }
    ul.header-account-menu-hide{
      position: absolute;
      right: 15px;
      top: 50px;
      display: none;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-width: 170px;
      background: $base-color2;
      border: 1px solid $base-color3;
      li{
        list-style: none;
        white-space: nowrap;
        line-height: 40px;
        padding: 0 0.5rem;
        text-align: left;
        color: darken($font-color1, 20%);
        svg,i{
          margin-right: 0.5rem;
        }
      }
      li:hover{
        background: $font-color1;
        color: $base-color1;
        svg,i{
          color: $base-color1;
        }
      }
    }
    ul.header-account-menu-show{
      @extend .header-account-menu-hide;
      display: flex;
    }
  }
}

/* ----------- Main ----------- */
#main{
}

@media screen and (max-width: $sp-break-point){
  #main{
  }
}

/* ---------- Sidemenu ---------- */
#sidemenu-container{
  display: flex;
  flex-direction: row;
  #sidemenu{
    width: 200px;
    z-index: 1;
    .sidemenu-items-container{
      position: sticky;
      top: 70px;
      ul.sidemenu-item{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          cursor: default;
          padding: 0.5rem;
          font-weight: 500;
          white-space: nowrap;
          text-align: left;
          a{
            display: inline-block;
            svg, i{
              width: 30px;
              margin-right: 0.5rem;
            }
            color: $font-color2;
          }
          a:hover{
            color: $accent-color1;
            text-decoration: none;
            cursor: pointer;
          }
        }
        li.sidemenu-item-active{
          a{ color: $accent-color2; }
          a:hover{
            color: $accent-color1;
            text-decoration: none;
            cursor: pointer;
          }
        }
        li.sidemenu-item-title,
        li.sidemenu-item-title:hover{
          font-size: 1rem;
          color: $font-color1;
          svg, i{
            width: 30px;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  #sidemenu-main{
    width: 100%;
    padding: 0 25px;
  }
}

/* ---------- Footer ---------- */
.footer {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  text-align: center;
}

/* ---------- Modal ---------- */
.modal{
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    z-index: 2;
  }
  .modal-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: $sp-break-point;
    z-index: 3;
    .modal-window-container{
      display: flex;
      flex-direction: column;
      border: 1px solid $base-color3;
      border-radius: 5px;
      background: $base-color2;
      .modal-window-header{
        order: 1;
        padding: 1rem;
        padding-bottom: 0;
        margin-top: auto;
        font-size: 1.3rem;
      }
      .modal-window-body{
        order: 2;
        padding: 1rem;
        .form-group{
          input[type="text"]{
            background: lighten($base-color3, 3%);
          }
          .form-countable-input-group{
            .form-countable-input-counter{
              background: lighten($base-color3, 3%);
            }
          }
        }
        li{
          line-height: 2rem;
        }
      }
      .modal-window-footer{
        order: 3;
        padding: 1rem;
        padding-top: 0;
        margin-bottom: auto;
        text-align: right;
      }
    }
  }
  .modal-overlay.hidden,
  .modal-window.hidden{
    display: none;
  }
}

@media screen and (max-width: $sp-break-point){
  .modal{
    .modal-window{
      width: 95%;
      margin-top: 60px;
      .modal-window-body{
        overflow-y: scroll;
      }
    }
  }
}

/* ---------- LoadingOverlay ---------- */
.loading-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  z-index: 4;
  .loading-overlay-spin-center{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.loading-overlay.hidden{
  display: none;
}

/* --------------- Games --------------- */
.games{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  .words{
    order: 1;
    margin: 2rem;
  }
  .keyboard{
    order: 2;
    padding: 0.5%;
    background: $base-color1;
  }
  @media screen and (max-width: $sp-break-point){
    flex-grow: 1;
    .words{
      margin: auto;
    }
    .keyboard{
      position: sticky;
      bottom: 0;
      background: $base-color3;
    }
  }
}
.words{
  display: flex;
  flex-direction: column;
  .words-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    .words-row-tile{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Hiragino Kaku Gothic Std W8', 'Clear Sans', 'Meiryo', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      width: 60px;
      margin: 3px;
      border: 1px solid $font-color1;
      user-select: none;
      cursor: default;
      background: $base-color1;
      transform: rotateX(0deg);
      &::before{
        content: "";
        padding-top: 100%;
        display: block;
      }
    }
    @keyframes transform-tile{
      0%{ transform: rotateX(0deg); }
      50%{ transform: rotateX(90deg); }
      100%{ transform: rotateX(0deg); }
    }
    .words-row-tile-correct,
    .words-row-tile-present,
    .words-row-tile-absent{
      animation: transform-tile 1s;
    }
    .words-row-tile-correct{
      background: $correct-color;
      border: 1px solid $correct-color;
    }
    .words-row-tile-present{
      background: $present-color;
      border: 1px solid $present-color;
    }
    .words-row-tile-absent{
      background: $absent-color;
      border: 1px solid $absent-color;
    }
  }
}
@media screen and (max-width: 400px){
  .words{
    .words-row{
      .words-row-tile{
        font-size: 20px;
      }
    }
  }
}

.keyboard-en-qwerty{
  display: flex;
  flex-direction: column;
  align-items: center;
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    max-width: $sp-break-point;
    .keyboard-key{
      display: block;
      margin: 0.5%;
      color: $font-color1;
      font-weight: 500;
      text-align: center;
      background: lighten($base-color1, 30%);
      border-radius: 3px;
      word-break: keep-all;
      text-transform: capitalize;
      user-select: none;
      cursor: pointer;
      font-family: "Clear Sans", "Meiryo", "Helvetica Neue", Arial, sans-serif;
      &:hover{
        background: lighten($base-color1, 40%);
      }
    }
    .keyboard-key-correct{
      background: $correct-color;
    }
    .keyboard-key-present{
      background: $present-color;
    }
    .keyboard-key-absent{
      background: $absent-color;
    }
    .keyboard-key-character{
      @extend .keyboard-key;
      width: 8.5%;
      min-width: 8.5%;
      max-width: 8.5%;
      line-height: 3rem;
      padding: 0 0.5rem;
    }
    .keyboard-key-modifier{
      @extend .keyboard-key;
      background: $absent-color;
      width: auto;
      min-width: 8.5%;
      max-width: none;
      line-height: 3rem;
      padding: 0 0.5rem;
      &:hover{
        background: lighten($base-color1, 20%);
      }
    }
  }
  .row-top{
    order: 1;
    justify-content: start;
    padding-left: 0%;
    padding-right: 0%;
  }
  .row-middle{
    order: 2;
    justify-content: end;
    padding-left: 0%;
    padding-right: 0%;
  }
  .row-bottom{
    order: 3;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
  }
}

/* ---------- MygamesEditIndex ---------- */
.game-index{
  display: flex;
  flex-direction: column;
  .game-index-item{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1rem;
    list-style-type: decimal;
    .game-index-item-title{
      order: 1;
      font-size: 1.3rem;
      line-height: 2rem;
    }
    .game-index-item-desc{
      order: 2;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .game-index-item-attrs{
      order: 3;
      font-size: 1rem;
      line-height: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .game-index-item-attrs-item{
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        .game-index-item-attrs-item-label{
          order: 1;
          display: inline-block;
          margin-right: 1rem;
          color: darken($font-color1, 20%);
        }
        .game-index-item-attrs-item-value{
          order: 2;
          display: inline-block;
        }
      }
      .game-index-item-attrs-item:last-child{
        margin-right: 0;
      }
    }
  }
}

/* ------- MygamesEdit ------- */
.game-edit-link{
  margin-bottom: 1rem;
  label{
    margin-bottom: 0.3rem;
    display: block;
    svg,i{
      margin-right: 0.3rem;
    }
  }
}

/* ------- ChipTextarea ------- */
.chip-textarea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  min-height: 10rem;
  font-size: 0.8rem;
  cursor: text;
  .chip-textarea-chip{
    align-self: flex-start;
    font-size: 0.8rem;
    color: $font-color1;
    background: lighten($base-color1, 25%);
    border-radius: 100px;
    line-height: 1.3rem;
    padding: 0 0.3rem 0 1rem;
    margin: 0.2rem;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    &:hover{
      background: lighten($base-color1, 35%);
    }
    .chip-textarea-chip-value{
      order: 1;
      display: inline;
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.3rem;
      height: 1.3rem;
      font-weight: 300;
      background: rgba(0,0,0,0);
      border: none;
      overflow: hidden;
    }
    input[type="text"].chip-textarea-chip-value{
    }
    input[type="text"].chip-textarea-chip-value:focus{
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.3rem;
      height: 1.3rem;
      font-weight: 300;
    }
    .chip-textarea-chip-xmark{
      order: 2;
      margin-left: 0.5rem;
      font-size: 13px;
      line-height: 1.3rem;
      width: 13px;
      svg,i{
        border-radius: 100px;
        width: 13px;
        height: 13px;
        &:hover{
          background: $font-color1;
          color: lighten($base-color1, 25%);
        }
      }
    }
  }
  .chip-textarea-chip-invalid{
    background: $danger-color;
    color: #fff;
    &:hover{
      background: lighten($danger-color, 5%);
    }
    .chip-textarea-chip-xmark{
      svg,i{
        &:hover{
          background: #fff;
          color: $danger-color;
        }
      }
    }
  }
  input[type="text"].chip-textarea-input{
    border: none;
    padding: 0 0.5rem;
    flex-grow: 2;
    width: 5rem;
  }
  input[type="text"].chip-textarea-input:focus{
    outline: none;
    border: none;
  }
}
.chip-textarea.chip-textarea-focus{
  border: 1px solid #0099ff;
}
.chip-textarea.chip-textarea-invalid{
  border: 1px solid #ff6600;
}

/* ------- react-loading ------- */
.loading-center{
  text-align: center;
  margin: 0 auto;
}
